h1 {
	text-align: center;
	font-family: arial;
	font-size: 120%;
	border: 2px solid red;
	background-color: black;
	color: white;
}
p, div{
	color: red;
	text-align: center;
}
article {
	text-align: center;
	color: red !important;
}

div > article {
	color: green;
}

div.article-element > article {
	color: blue;
}